  <label ng-bind="project.ds.projectModel['commentAuthor']" class="col-sm-2 control-label"></label>

  <div class="col-sm-10" style="padding-top: 7px;">
    <span ng-bind="project.ds.projectModel['comment']"></span><br/>
    Entered <span ng-bind-html="project.ds.projectModel['commentAuthored'] | amUtc | amLocal | amCalendar:referenceTime:formats"></span>
    <span ng-show="project.ds.projectModel['commentEditor'].length"><br/>
      Last edited by <span ng-bind="project.ds.projectModel['commentEditor']"></span> 
      on <span ng-bind="project.ds.projectModel['commentEdited'] | amUtc | amLocal | amCalendar:referenceTime:formats"></span>
    </span>
    <button type="button" 
      ng-click="project.ds.hideDetails('comment', [{name: 'commentID', id: comment['commentID']}])"> Cancel </button>
  </div>

  <div class="col-sm-offset-2 col-sm-10" style="background-color: #f8f8f8; border-color: #e7e7e7;">
    <h4 >Edit this comment:</h4>
    <formly-form model="project.ds.projectModel"
                 fields="project.as.formlyFields['comments']" 
                 options="project.editOptions">
      <button type="button" ng-click="project.ds.saveProject('comments', [{name: 'commentID', id: project.ds.projectModel['commentID']}])"> Save </button>
      <button type="button" ng-click="project.ds.hideDetails('comment', [{name: 'commentID', id: project.ds.projectModel['commentID']}])"> Cancel </button>
    </formly-form>

  <div class="col-sm-offset-2">
    <div class="col-sm-4">
      Entered <span ng-bind="project.ds.projectModel['commentAuthored'] | amUtc | amLocal | amCalendar:referenceTime:formats"></span>
      <span ng-show="project.ds.projectModel['commentEditor'].length"><br/>
        Last edited by <span ng-bind="comment['commentEditor']"></span>
        on <span ng-bind="project.ds.projectModel['commentEdited'] | amUtc | amLocal | amCalendar:referenceTime:formats"></span></span><br/>
    </div>
  </div>
