<!-- project-data-display
  datasource="project.ds.projectModel"
  error="project.ds.error"
  fields="project.ds.getFormlyFields('portfolio')"
  header="'Portfolio Attributes'"
  mode="project.ds.currentMode()"
  on-save-click="project.ds.saveProject"
  options="project.editOptions"
  show-success="project.ds.showEditSuccess()"
  success="project.ds.success"
  table="'portfolio'"
  / --> 

<h4>Portfolio Attributes</h4>

<form name="projectForm" form="project.ds.projectFormlyForm" class="form-horizontal" novalidate>
    <formly-form model="project.ds.projectModel" 
      fields="project.as.formlyFields['portfolio']" 
      form="project.ds.projectFormlyForm"
      options="project.ds.projectFormlyOptions">
      <div class="col-sm-offset-2 col-sm-10">
          <button type="button" ng-click="project.ds.saveProject('portfolio')"> Save </button>
          <button type="button" ng-click="project.cancel()" ng-show="project.hasCancel()"> Cancel </button>
      </div>
    </formly-form>
</form>
  