<!--form name="addProject" class="form-horizontal container">
  <div project-data-display
    datasource="select.as.getProjectAttributes('description')"
    error="select.ds.error"
    header="'Add a project'"
    mode="'edit'"
    on-save-click="select.ds.addProject"
    on-cancel-click="select.ds.cancelAddProject"
    show-success="select.ds.showEditSuccess()"
    success="select.ds.success"
    table="'description'"
    ></div>  
</form-->

<div class="container">
  <h4 class="clearfix">Add a Project</h4>

    <formly-form model="select.pristineProject" fields="select.formlyFields.description">
      <span class="col-sm-4">
        <button type="button" ng-click="select.ds.addProject(select.pristineProject)"> Save </button>
        <button type="button" ng-click="select.ds.cancelAddProject()" class=""> Cancel </button>
      </span>
    </formly-form>

</div>