<div>
  {{dispostion.disposedIn}}
  <div ng-hide="ctrl.mode == 'add'">
    <label for="dispositionID" class="col-sm-2 control-label">
      <span ng-show="disposition['disposedIn'].start">FY</span>{{disposition['disposedIn'].start | amDateFormat:"YY"}}
      <span ng-show="disposition['disposedIn'].start">Q</span>{{disposition['disposedIn'].start | amDateFormat:"Q"}} 
    </label>
    <div class="col-sm-10" style="padding-top: 7px;">
      <span class="text-capitalize">{{disposition['dispositionDesc']}}.</span>
      <span ng-show="disposition['reconsiderIn']">
        Reconsider in 
          FY{{disposition['reconsiderIn'].start | amDateFormat:"YY"}}
          Q{{disposition['reconsiderIn'].start | amDateFormat:"Q"}}.
        </span>
      <span ng-show="disposition['plannedFor'].start">
        Start in 
          {{disposition['plannedFor'].start | amDateFormat:"MMM"}}<span ng-show="disposition['plannedFor'].end">, 
          {{disposition['plannedFor'].start | amDateFormat:"YYYY"}}</span>. 
        </span>
      </span>
        </span>
      <span ng-show="disposition['plannedFor'].end">
        Finish in 
          {{disposition['plannedFor'].start | amDateFormat:"MMM"}}<span ng-show="disposition['plannedFor'].end">, {{disposition['plannedFor'].end | amDateFormat:"YYYY"}}</span>. 
        </span>
      </span>
      <span ng-show="disposition['explanation']">
        <br/>
        {{disposition['explanation']}}
      </span>
      <span>
        <br/>
        Last modified by {{disposition['dispositionLastModifiedBy']}} on 
        {{disposition['dispositionLastModified'] | amUtc | amLocal | amCalendar:referenceTime:formats}}.
      </span>
      <div>
        <button type="button"
          ng-hide="ctrl.mode=='editDetail' || ctrl.mode=='add' || ctrl.mode=='view'"
          ng-click="ctrl.showDetails('disposition', {'disposedIn': disposition['disposedIn']})"> Edit </button>
        <button type="button"
          ng-show="ctrl.mode == 'editDetail'"
          ng-click="ctrl.hideDetails('disposition', {'disposedIn': disposition['disposedIn']})"> Cancel </button>
      </div>
    </div>
  </div>
  
  <div style="background-color: #eee; border-color: #e7e7e7; padding-top:15px;"
    class="col-sm-12">
    <formly-form model="disposition"
      fields="ctrl.fields" 
      options="ctrl.options">
      <div class="col-sm-offset-2">
        <button type="button" 
          ng-click="ctrl.save('disposition', {model: disposition, field_name: 'dispositions'})"> Save </button>
        <button type="button"
           ng-click="ctrl.hideDetails('disposition', {'disposedIn': disposition['disposedIn']})"> Cancel </button>
      </div>
    </formly-form>
  </div>
  

</div>